<center>
<%= form_tag posts_path, :method => :get do %>
  <p>
    <%= text_field_tag :query, params[:query],placeholder: "Enter the search target" %> <%= submit_tag "搜尋", class: "btn btn-primary" %>
  </p>
<% end %>

</center>